<div class="container">
  <h1>Update Permit</h1>

  <div id="edit-permit-form">
    <%= simple_form_for [current_user, @permit] do |f|%>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :location %>
      <%= f.input :available %>
      <%= f.button :submit, value: 'Update permit', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <%= link_to 'cancel', permits_path %>
</div>
