<div class="container edit-permit">
  <h1>Update Permit</h1>

  <div id="edit-permit-form">
    <%= simple_form_for @permit do |f|%>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :perks, as: :check_boxes, collection: Permit::PERKS, input_html: { multiple: true }, include_hidden: false %>
      <%= f.input :price %>
      <%= f.input :location %>
      <%= f.input :available %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, value: 'Update permit', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <%= link_to 'cancel', permits_path %>
</div>
