
<h1>Permit Listings</h1>

 <%= form_tag permits_path, class:"py-3", method: :get do %>

      Perks: <%= text_field_tag :query,
        params[:perks],
        class: "form-control",
        placeholder: "Search by Perks"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>


<table class="permits">
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>


    
<div class="cards">
  <% @permits.each do |permit| %>
    <div class="card" style="width: 18rem;">
      <%= link_to permit.name, permit_path(permit) %>
        <% if permit.photo.attached? %>
          <%= cl_image_tag permit.photo.key, height: 100, width: 100, crop: :fill %>
        <% else %>
          <img src="https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg" class = "img-thumbnail" style="width:100px;height:100px">
        <% end  %>
        </tr>
        <div class="card-body">
        <table>
          <tbody>
            <tr>
              <th>Permit:</th><td><%= permit.name %></th>
            </tr>
            <tr>
              <th>available now:<th>
            <td>
              <% if permit.available %>
                <%= "yes" %>
              <% else %>
                <%= "no" %>
              <% end %>
            </td>

          </tbody>
        <table>

        <% if current_user == permit.user %>
          <%= link_to " edit ", edit_permit_path(permit), class: "card-edit-link" %>
          <%= link_to " delete ", permit_path(permit), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
        <% else %>
          <%= link_to " book permit ", new_permit_booking_path(permit) %>
        <% end %>
      <%= permit.description %>
      </div>
    <% end %>
</div>

<%= link_to '[ list a permit for rent ]', new_permit_path %>
<%= link_to '[ back to home ]', root_path %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

































































































