<div class="headings">
  <h1>Permit Listings</h1>
  <div class="perks-links">
    <% Permit::PERKS.each do |perk| %>
      <p class="mr-2"><%= link_to "#{perk.capitalize}", "/permits?query=#{perk}&commit=Search" %></p>
    <% end %>
  </div>
</div>

<div class="cards">
  <% @permits.each do |permit| %>
    <div class="card" style="width: 18rem;">
      <%= link_to permit.name, permit_path(permit), class:"text-center" %>
      <% if permit.photo.attached? %>
        <%= cl_image_tag permit.photo.key, height: 100, width: 100, crop: :fill %>
      <% else %>
        <img src="https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg" class = "img-thumbnail" style="width:100px;height:100px">
      <% end  %>
      <div class="card-body">
        <table>
          <tbody>
            <tr>
              <th>Permit:</th><td><%= permit.name %></td>
            </tr>
              </tr>
              <th>Description:</th><td><%= permit.description %></td></tr>
              <th>Perks:</th><td>
                <% permit.perks.each do |perk| %>
                 <ul><li><%= perk %></li></ul>
              <% end %>
              </td>
              </tr>
              <th>Available now:</th>
            <td>
              <% if permit.available %>
                <%= "yes" %>
              <% else %>
                <%= "no" %>
              <% end %>
            </td>
          </tbody>
        </table>

        <% if current_user == permit.user %>
          <%= link_to " edit ", edit_permit_path(permit), class: "card-edit-link" %>
          <%= link_to " delete ", permit_path(permit), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
        <% else %>
          <%= link_to " book permit ", new_permit_booking_path(permit) %>
        <% end %>

      </div>
    </div>
  <% end %>
</div>

<div class="links">
  <%= link_to '[ list a permit for rent ]', new_permit_path %>
  <%= link_to '[ back to home ]', root_path %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
