<div class="container">
  <h1><%= @permit.name %></h1>

  

    <div class="permit_show py-3">
        <div class="permit_content permit-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
          <% if @permit.photo.attached? %>
            <%= cl_image_tag(@permit.photo.key,width: 400, height: 300, crop: :fill) %>
          <% else %>
          <img class = "default-img-full" src="https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg", height: 300, width: 300, crop: :fill>
            <% end  %>
        </div>

        <div class="premit_content">
          <p> <%= @permit.name %><p>
          <p> <%= @permit.description %><p>
          <p> <%= @permit.price %><p>
          <p> <%= @permit.location %><p>

          <% if current_user == @permit.user %>
          <i class="far fa-edit"><%= link_to "edit", edit_permit_path(@permit), class: "card-edit-link" %></i>
          <i class="far fa-trash-alt">
            <%= link_to "delete", permit_path(@permit), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %></i>
          <% else %>
            <%= link_to "book permit", new_permit_booking_path(@permit) %>
          <% end %>

          <i class="far fa-arrow-alt-circle-left"></i>
          <%= link_to "back", permits_path %>
        </div>
    </div>
</div>
