
  <div class="container text-center">
    <h1><%= @permit.name %></h1>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="cards">

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
              <p> <%= @permit.name %><p>
              <p> <%= @permit.description %><p>
              <p> <%= @permit.price %><p>
              <p> <%= @permit.location %><p>


            <% if current_user == @permit.user %>
              <%= link_to "[ delete ]", permit_path(@permit), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
            <% end %>
            <%= link_to "[ book permit ]", new_permit_booking_path(@permit) %>

          </div>

      </div>
    </div>
  </div>
</div>
