<div>
  <h1>My Bookings</h1>

    <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td>Permit: <%= booking.permit.name %></td><br>
        <td>Description: <%= booking.permit.description %></td><br>
        <td>Total Price: $<%= booking.total_price %></td><br>
        <td>Start Date: <%= booking.start_date %></td><br>
        <td>End Date: <%= booking.end_date %></td><br>
        <td>Booking Status: <%= booking.status %></td><br>
        <td><%= link_to 'Show', booking %></td>

        <% if booking.user == current_user %>
          <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <% end %>

        <% if booking.user == current_user %>
          <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>

</div>
