<div>
  <h1>My Bookings</h1>

    <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.permit.name %></td><br>
        <td><%= booking.permit.description %></td><br>
        <td><%= booking.total_price %></td><br>
        <td><%= booking.start_date %></td><br>
        <td><%= booking.end_date %></td><br>
        <td><%= booking.status %></td><br>
        <td><%= link_to 'Show', booking %></td><br>

        <% if booking.user == current_user %>
          <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <% end %>

        <% if booking.user == current_user %>
          <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>

</div>
